@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Regular.woff2?e43cc13db918af99d55e8e00a2a1fad0) format("woff2"), url(/fonts/Nunito-Regular.woff?244fb40499b1fc931a0376fde056978f) format("woff"), url(/fonts/Nunito-Regular.ttf?d4db025014cc2ef82da352544492cafe) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Bold.woff2?a1416e87db9d79e620e317f0c00071ef) format("woff2"), url(/fonts/Nunito-Bold.woff?0ace7fd9cb82c4dc6e2a9db069816ea1) format("woff"), url(/fonts/Nunito-Bold.ttf?4a583170f2e889236cf5d9aea7cfb2b6) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-SemiBold.woff2?8e23a3ec4946bbe6b07e0c524ebd0f94) format("woff2"), url(/fonts/Nunito-SemiBold.woff?d145b4382adcf29916bafd881d63f5ea) format("woff"), url(/fonts/Nunito-SemiBold.ttf?724cc331cb726561fa20fdc28fa3f511) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --content-max-width: 1000px;
  --color-white: #F9F9FF;
  --color-white-05: rgba(249, 249, 255, 0.05);
  --color-white-10: rgba(249, 249, 255, 0.1);
  --color-white-50: rgba(249, 249, 255, 0.5);
  --color-white-70: rgba(249, 249, 255, 0.7);
  --color-bg: #15161C;
  --color-bg-50: rgba(21, 22, 28, 0.5);
  --color-bg-70: rgba(21, 22, 28, 0.7);
  --color-border: #272934;
  --color-black: #181920;
  --color-green: #549E83;
  --color-red: #834E4E;
  --color-gold: #FFBB55;
  --color-blue: #7677EA;
  --color-blue-70: rgba(118, 119, 234, 0.7);
}

html {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-white);
  background-color: var(--color-bg);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(50% 50% at 50% 50%, #1A1D28 0%, rgba(15, 17, 24, 0) 100%);
  transform: translateY(-50%);
  z-index: -2;
}

@media (max-width: 1040px) {
  body {
    padding: 0 40px;
  }
}

a {
  text-decoration: none;
  color: var(--color-white-70);
  transition: color 0.1s ease-in-out;
}

a:hover {
  color: var(--color-white);
}

p {
  color: var(--color-white-70);
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 20px;
}

span.coins {
  color: var(--color-gold);
}

input {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-white);
  width: 100%;
  background: unset;
  background-color: unset;
  border: unset;
  padding-bottom: 15px;
  outline: unset;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-moz-placeholder {
  color: var(--color-white-50);
}

input:-ms-input-placeholder {
  color: var(--color-white-50);
}

input::placeholder {
  color: var(--color-white-50);
}

input.underline {
  border-bottom: 2px solid var(--color-bg-50);
  transition: border-bottom 0.2s ease-in-out;
}

input.underline:focus {
  border-bottom: 2px solid var(--color-white-70);
}

table {
  width: 100%;
  transition: opacity 0.2s ease-in-out;
}

table.loading {
  opacity: 0.4;
}

table thead th {
  color: var(--color-white-70);
  font-weight: 400;
  padding-bottom: 20px;
}

table tbody td {
  padding-bottom: 20px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mt-40 {
  margin-top: 40px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-20 {
  margin-bottom: 20px;
}

.p-40 {
  padding: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.content {
  max-width: var(--content-max-width);
  padding: 40px 0;
  margin: 0 auto;
  -webkit-animation: fadeInUp 1s ease-in-out;
          animation: fadeInUp 1s ease-in-out;
}

.avatar {
  min-width: 60px;
  min-height: 60px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}

.flex {
  display: flex;
}

.flex.ail {
  align-items: flex-start;
}

.flex.aic {
  align-items: center;
}

.flex.air {
  align-items: flex-end;
}

.flex.jcl {
  justify-content: flex-start;
}

.flex.jcc {
  justify-content: center;
}

.flex.jcr {
  justify-content: flex-end;
}

.gap-20 {
  gap: 20px;
}

.box-group {
  display: grid;
  gap: 40px;
}

.box-group.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.box {
  position: relative;
  background-color: var(--color-black);
  border: 2px solid var(--color-border);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box .visible {
  transition: opacity 0.15s ease-in-out;
}

.box .hidden {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: var(--color-bg-70);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  pointer-events: none;
  transition: all 0.15s ease-in-out;
}

.box .hidden.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box .hidden.centered.d-column {
  flex-direction: column;
  align-items: flex-start;
}

.box:not(.loading):hover .visible {
  opacity: 0;
}

.box:not(.loading):hover .hidden {
  opacity: unset;
  pointer-events: unset;
  z-index: unset;
}

.box .choice {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  gap: 40px;
}

.box .choice.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 500px) {
  .box .choice {
    grid-template-columns: 1fr !important;
    padding: 40px 0;
  }
}

.box .choice div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 500px) {
  .box .choice div:not(:last-child):after {
    content: "";
    position: absolute;
    top: 40px;
    right: -19px;
    bottom: 40px;
    width: 2px;
    background-color: var(--color-border);
  }
}

.box.loading:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-bg-70);
  background-image: url(/images/loading.svg?7b4a82efb7c2733637a443f01dc1ad06);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  transition: all 0.15s ease-in-out;
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translateY(-15px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(-15px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeOutDown {
  from {
    transform: translateY(0px);
    opacity: 1;
  }

  to {
    transform: translateY(15px);
    opacity: 0;
  }
}

@keyframes fadeOutDown {
  from {
    transform: translateY(0px);
    opacity: 1;
  }

  to {
    transform: translateY(15px);
    opacity: 0;
  }
}

.content-nav {
  max-width: var(--content-max-width);
  flex: 1;
  border-bottom: 2px solid var(--color-border);
  padding: 40px 0;
  margin: 0 auto;
}

.content-nav a {
  position: relative;
  padding: 40px 0;
  margin-right: 40px;
}

.content-nav a:last-child {
  margin-right: 0;
}

.content-nav a.active {
  color: var(--color-white);
}

.content-nav a.active:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;
  left: 0;
  height: 2px;
  background-color: var(--color-white);
}

.toggle {
  position: relative;
  padding: 40px;
  cursor: pointer;
}

.toggle:before {
  content: "";
  position: absolute;
  top: calc(50% - 20px);
  right: 40px;
  width: 70px;
  height: 40px;
  background-color: var(--color-border);
  border-radius: 100px;
  transition: background-color 0.3s ease-in-out;
}

.toggle:after {
  content: "";
  position: absolute;
  top: calc(50% - 13px);
  right: 77px;
  width: 26px;
  height: 26px;
  background-color: var(--color-bg);
  border-radius: 100px;
  transition: right 0.3s ease-in-out;
}

.toggle.active:before {
  background-color: var(--color-green);
}

.toggle.active:after {
  right: 47px;
}

.button {
  text-align: center;
  font-weight: 600;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
  padding: 15px 30px;
  transition: background-color 0.1s ease-in-out, transform 0.1s linear, opacity 0.1s ease-in-out, background-image 0.1s ease-in-out;
  cursor: pointer;
}

.button.md {
  padding: 24px 40px;
}

.button.lg {
  padding: 30px 60px;
}

.button.green {
  background-color: var(--color-green);
}

.button.red {
  background-color: var(--color-red);
}

.button.loading {
  color: transparent;
  background-image: url(/images/loading.svg?7b4a82efb7c2733637a443f01dc1ad06);
  background-size: 24px;
  opacity: 0.7;
  cursor: default;
}

.button:not(.loading):hover {
  transform: translateY(-2px);
}

.button:not(.loading):active {
  transform: translateY(0px);
}

.content.profile .unconfirmed {
  background-image: url(/images/banner2.png?dad6860e1f077d2bf19c4678c69a0e5e);
}

.content.profile .unconfirmed .join {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.content.profile .banner {
  position: relative;
  display: flex;
  align-items: center;
  background-image: url(/images/banner.png?5fa0ed7a829d57a618007be8d6cc6b5c);
  padding: 40px;
}

.content.profile .banner .avatar {
  min-width: 180px;
  min-height: 180px;
  margin-right: 30px;
}

.content.profile .banner .info .name {
  margin-bottom: 10px;
}

.content.profile .banner .info .group {
  color: var(--color-white-70);
}

.content.profile .banner .info .logout {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.content.profile .banner:hover .info .logout {
  opacity: 1;
  pointer-events: unset;
}

.content.profile .stats {
  margin-top: 40px;
}

.content.profile .stats .box {
  padding: 40px;
}

.content.profile .stats .box.subscription {
  background-image: url(/images/1.png?cc0c7d73a991d843a9ab69ea94e687c9);
}

@media (max-width: 500px) {
  .content.profile .stats .box.subscription {
    padding: 80px 40px;
  }
}

.content.profile .stats .box.balance {
  background-image: url(/images/2.png?facda8faec263c225eb2a48965e99117);
}

@media (max-width: 1040px) {
  .content.profile .stats {
    grid-template-columns: 1fr;
  }
}

