@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-Regular.woff2') format('woff2'),
        url('./fonts/Nunito/Nunito-Regular.woff') format('woff'),
        url('./fonts/Nunito/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-Bold.woff2') format('woff2'),
        url('./fonts/Nunito/Nunito-Bold.woff') format('woff'),
        url('./fonts/Nunito/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Nunito';
//     src: url('./fonts/Nunito/Nunito-Light.woff2') format('woff2'),
//         url('./fonts/Nunito/Nunito-Light.woff') format('woff'),
//         url('./fonts/Nunito/Nunito-Light.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Nunito';
//     src: url('./fonts/Nunito/Nunito-ExtraBold.woff2') format('woff2'),
//         url('./fonts/Nunito/Nunito-ExtraBold.woff') format('woff'),
//         url('./fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
//     font-weight: 800;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Nunito';
//     src: url('./fonts/Nunito/Nunito-Black.woff2') format('woff2'),
//         url('./fonts/Nunito/Nunito-Black.woff') format('woff'),
//         url('./fonts/Nunito/Nunito-Black.ttf') format('truetype');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Nunito';
//     src: url('./fonts/Nunito/Nunito-ExtraLight.woff2') format('woff2'),
//         url('./fonts/Nunito/Nunito-ExtraLight.woff') format('woff'),
//         url('./fonts/Nunito/Nunito-ExtraLight.ttf') format('truetype');
//     font-weight: 200;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-SemiBold.woff2') format('woff2'),
        url('./fonts/Nunito/Nunito-SemiBold.woff') format('woff'),
        url('./fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --content-max-width: 1000px;
    --color-white: #F9F9FF;
    --color-white-05: rgba(249, 249, 255, 0.05);
    --color-white-10: rgba(249, 249, 255, 0.1);
    --color-white-50: rgba(249, 249, 255, 0.5);
    --color-white-70: rgba(249, 249, 255, 0.7);
    --color-bg: #15161C;
    --color-bg-50: rgba(21, 22, 28, 0.5);
    --color-bg-70: rgba(21, 22, 28, 0.7);
    --color-border: #272934;
    --color-black: #181920;
    --color-green: #549E83;
    --color-light-red: #FF5555;
    --color-red: #834E4E;
    --color-gold: #FFBB55;
    --color-blue: #7677EA;
    --color-blue-70: rgba(118, 119, 234, 0.7);
}

html {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-white);
    background-color: var(--color-bg);
    user-select: none;
}

body {
    &:before {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: radial-gradient(50% 50% at 50% 50%, #1A1D28 0%, rgba(15, 17, 24, 0) 100%);
        transform: translateY(-50%);
        z-index: -2;
    }

    &::-webkit-scrollbar {
        width: 6px;
    }
      
    &::-webkit-scrollbar-track {
        background-color: var(--color-bg);
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: var(--color-border);
    }

    @media (max-width: 1040px) {
        padding: 0 40px;
    }
}

a {
    text-decoration: none;
    color: var(--color-white-70);
    transition: color 0.1s ease-in-out;

    &:hover {
        color: var(--color-white);
    }
}

p {
    color: var(--color-white-70);
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

b {
    font-weight: 600;
}

span {
    &.coins {
        color: var(--color-gold);
    }
    &.red {
        color: var(--color-red);
    }
    &.light-red {
        color: var(--color-light-red);
    }
}

table {
    width: 100%;
    transition: opacity 0.2s ease-in-out;

    &.loading {
        opacity: 0.4;
    }

    thead th {
        color: var(--color-white-70);
        font-weight: 400;
        padding-bottom: 20px;
    }

    tbody td {
        padding-bottom: 20px;
    }
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.mt-40 {
    margin-top: 40px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.p-40 {
    padding: 40px;
}

.pr-40 {
    padding-right: 40px;
}

.pl-40 {
    padding-left: 40px;
}

.content {
    max-width: var(--content-max-width);
    padding: 40px 0;
    margin: 0 auto;
    animation: fadeInUp 1s ease-in-out;
}

.full-width {
    max-width: calc(100% - 80px) !important;
}

.avatar {
    min-width: 60px;
    min-height: 60px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

.alert {
    max-width: var(--content-max-width);
    padding: 40px;
    margin: 40px auto 0 auto ;
    animation: fadeInUp 1s ease-in-out;

    &.red {
        color: var(--color-white);
        background-color: var(--color-red);
    }
}

.flex {
    display: flex;

    &.ail {
        align-items: flex-start;
    }

    &.aic {
        align-items: center;
    }

    &.air {
        align-items: flex-end;
    }

    &.jcl {
        justify-content: flex-start;
    }

    &.jcc {
        justify-content: center;
    }

    &.jcr {
        justify-content: flex-end;
    }
}

.gap-40 {
    gap: 40px;
}

.gap-20 {
    gap: 20px;
}

.grid {
    display: grid;

    &.cols-2 {
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: 1040px) {
            grid-template-columns: 1fr;
        }
    }

    &.cols-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &.cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

.box {
    position: relative;
    background-color: var(--color-black);
    border: 2px solid var(--color-border);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .visible {
        transition: opacity 0.15s ease-in-out;
    }

    .hidden {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        background-color: var(--color-bg-70);
        backdrop-filter: blur(15px);
        pointer-events: none;
        transition: all 0.15s ease-in-out;

        &.centered {
            display: flex;
            align-items: center;
            justify-content: center;

            &.d-column {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    &:not(.loading):hover .visible {
        opacity: 0;
    }

    &:not(.loading):hover .hidden {
        opacity: unset;
        pointer-events: unset;
        z-index: unset;
    }

    .choice {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: grid;
        gap: 40px;

        &.cols-2 {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 500px) {
            grid-template-columns: 1fr !important;
            padding: 40px 0;
        }

        div {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (min-width: 500px) {
                &:not(:last-child):after {
                    content: '';
                    position: absolute;
                    top: 40px;
                    right: -19px;
                    bottom: 40px;
                    width: 2px;
                    background-color: var(--color-border);
                }
            }
        }
    }

    &.loading:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--color-bg-70);
        background-image: url('./img/loading.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px;
        backdrop-filter: blur(15px);
        transition: all 0.15s ease-in-out;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(-15px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeOutDown {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(15px);
        opacity: 0;
    }
}

@keyframes opacityPulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.98);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes spinRight {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}