.button {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: var(--tp);
    appearance: none;
    text-align: center;
    font-weight: 600;
    display: block;
    background-color: var(--lg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 15px;
    padding: 30px;
    outline: none;
    transition: background-color 0.1s ease-in-out, transform 0.1s linear, opacity 0.1s ease-in-out, background-image 0.1s ease-in-out;
    cursor: pointer;

    &.md {
        padding: 30px 60px;
    }

    &.lg {
        width: 100%;
    }

    &.green {
        background-color: var(--color-green);
    }

    &.red {
        background-color: var(--color-red);
    }

    &.loading {
        color: transparent;
        background-image: url('../img/loading.svg');
        background-size: 24px;
        opacity: 0.7;
        cursor: default;
    }

    &:not(.loading):hover {
        transform: translateY(-2px);
    }

    &:not(.loading):active {
        transform: translateY(0px);
    }
}