input[type="text"],
input[type="number"] {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-white);
    width: 100%;
    background: unset;
    background-color: unset;
    border: unset;
    padding-bottom: 15px;
    outline: unset;
    appearance: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }

    &[type=number] {
        -moz-appearance: textfield;
    }

    &::placeholder {
        color: var(--color-white-50);
    }

    &.underline {
        border-bottom: 2px solid var(--color-border);
        transition: border-bottom 0.2s ease-in-out;

        &:focus {
            border-bottom: 2px solid var(--color-white-70);
        }
    }

    &.v1 {
        padding: 15px 0px;
    }

    &.lg {
        padding: 40px;
    }
}