input {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-secondary-color);
    width: 100%;
    background: unset;
    background-color: unset;
    border: 2px solid var(--lg);
    border-radius: 15px;
    padding: 30px;
    outline: unset;
    appearance: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }

    &[type=number] {
        -moz-appearance: textfield;
    }

    &::placeholder {
        color: var(--text-input-placeholder-color);
    }

    &:not([type="hidden"]) + input {
        margin-top: 20px;
    }
}