.content-nav {
    max-width: var(--content-max-width);
    flex: 1;
    border-bottom: 2px solid var(--color-border);
    padding: 40px 0;
    margin: 0 auto;

    a {
        position: relative;
        padding: 40px 0;
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            color: var(--color-white);

            &:after {
                content: '';
                position: absolute;
                right: 0;
                bottom: -2px;
                left: 0;
                height: 2px;
                background-color: var(--color-white);
            }
        }
    }
}