nav.content-nav {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: var(--content-max-width);
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: hidden;

    &:first-child {
        padding: 50px 0;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: var(--color-border);
        z-index: 1;
    }

    a {
        font-weight: 500;
        position: relative;
        padding: 40px;
        white-space: nowrap;

        &.active {
            color: var(--text-primary-color);

            &:after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                height: 2px;
                background-color: var(--color-white);
                z-index: 2;
            }
        }
    }
}