.toggle {
    position: relative;
    padding: 40px;
    cursor: pointer;

    @media (max-width: 500px) {
        padding-bottom: 120px;
    }

    &:before {
        content: '';
        position: absolute;
        top: calc(50% - 20px);
        right: 40px;
        width: 70px;
        height: 40px;
        background-color: var(--color-border);
        border-radius: 100px;
        transition: all 0.3s ease-in-out;

        @media (max-width: 500px) {
            top: unset;
            right: unset;
            bottom: 40px;
            left: 40px;
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: calc(50% - 13px);
        right: 77px;
        width: 26px;
        height: 26px;
        background-color: var(--color-bg);
        border-radius: 100px;
        transition: all 0.3s ease-in-out;

        @media (max-width: 500px) {
            top: unset;
            right: unset;
            bottom: 47px;
            left: 47px;
        }
    }
    
    &.active {
        &:before {
            background-color: var(--color-green);
        }

        &:after {
            right: 47px;

            @media (max-width: 500px) {
                right: unset;
                left: 77px;
            }
        }
    }
}